/* nav-course needs more space*/
.is-signedin.course .wrapper .wrapper-header .nav-course {
    width: 60%;
}

/* http://redmine.sgdev.xyz/issues/14585 */
.xblock .xblock h2 {
    text-transform: none;
}

.xmodule_display.xmodule_HtmlModule h2 {
    font-size: 1.5em;
}

.wrapper-xblock .xblock-render .xblock .xblock-render .xblock,
.xmodule_display.xmodule_HtmlModule {
    h3 {
      font-size: 1.2em;
    }
}
// --- end

/* Modal full height full width */
// disable scrolling while modal window is open
.noscroll {
    overflow: hidden;
}

.mce-container.mce-window,
.modal-window.modal-editor {
    width: 100%;
    height:100%;
    overflow: auto;
}

.modal-window.modal-editor .modal-content {
    height: 100% !important;
}

[class*="view-"] .modal-window .CodeMirror,
[class*="view-"] .modal-lg.modal-type-video .xmodule_edit.xmodule_VideoDescriptor .editor-with-tabs .tabs-wrapper,
.modal-window.modal-editor .edit-xblock-modal iframe,
.modal-content .xblock--drag-and-drop--editor,
[class*="view-"] .modal-window .editor-with-buttons.wrapper-comp-settings .list-input.settings-list {
    height: 70vh !important;
}

// --- end

.edit-xblock-modal .modal-actions {
    background-color: #eee;
}


/* XMODULES */
.xmodule_display.xmodule_CapaModule .problem .inputtype.option-input {
    margin-top: 0px;
}

/* CodeMirror */
.CodeMirror-code span.cm-tab {
    background: red;
}